<section class="container" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
        <mat-card-title fxLayout fxLayoutAlign="center">Time to start a workout!</mat-card-title>
        <mat-card-content fxLayout fxLayoutAlign="center">
            <mat-select placeholder="Select exercise">
                <mat-option *ngFor="let ex of exercises" value="ex.id">{{ ex.name }}</mat-option>
            </mat-select>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button type="submit" (click)="onStartTraning()">Start</button>
        </mat-card-actions>
    </mat-card>
</section>