<mat-sidenav-container>
    <mat-sidenav #sideNav role="navigation">
        <p>IM THE SIUDENAV</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button (click)="sideNav.toggle()">Toggle Sidenav</button>
            </div>
            <div>LOGO</div>
            <a routerLink="/signup">Signup</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/training">Training</a>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>